<div class="accordion-item">
	<a class="accordion-title plain" href="javascript:void();">
		<button class="toggle"><i class="icon-angle-down"></i></button>
		{{ shortcode.options.title }}
	</a>
	<div class="accordion-inner">
	    <content />
	</div>
</div>