<div class="col small-{{ shortcode.options.span }} grid-col grid-col-{{shortcode.options.height}}">
	<div class="col-inner box-shadow-{{ shortcode.options.depth }} box-shadow-{{ shortcode.options.depthHover }}-hover">
			 <content/>
	</div><!-- col-inner -->
</div>