<div class="message-box {{shortcode.options.textColor}} bg-fill relative" style="padding-bottom: {{shortcode.options.padding}}px; padding-top: {{shortcode.options.padding}}px;" wp-attachment="shortcode.options.bg">
    <div class="message-box-bg-image bg-fill fill" wp-attachment="shortcode.options.bg"></div>
    <div class="message-box-bg-overlay bg-overlay fill" style="background-color: {{ shortcode.options.bgColor }};"></div>
    <div class="container">
        <div class="inner last-reset">
            <content/>
        </div>
    </div>
</div>