/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 1.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

@import url("../flatsome/style.css");

.quick-view.quick-view-added {
	display: none;
}

/*.woocommerce-breadcrumb.breadcrumbs {
	display: none;
}*/

th.price-dvm-label, th.price-dvm {
	border-bottom: 0px;
	font-size: 0.95em;
}


td.desc-dvm, td.desc-dvm {
	font-size: 0.95em;
	border-bottom: 1px dashed #ececec;
}

table.price-wrapper.price-desc-dvm th.price-dvm-label
{
  table-layout:fixed;
  width:90px;
  overflow:hidden;
}

table.variations td.label
{
  table-layout:fixed;
  width:90px;
  overflow:hidden;
}

.product-main {
  padding-bottom: 0; 
}

th.price-dvm-label, th.price-dvm {
  padding-bottom: 0; 
}

.avatar.avatar-60.photo {
  display: none;
}

ol.commentlist {
  list-style-type:none
}

.comment-text .star-rating {
  display: inline-grid;
  margin-top: 0;
  margin-bottom: 0;
}

.comment-text p.meta {
  margin-bottom: 0;
}

.woocommerce-product-rating {
  margin-bottom: 1.5em;
}

.blog-wrapper .page-title {
  display: none;
}


.wpua-edit #submit {
  font-size: inherit !important;
}

#wpua-edit-attachment-existing a.edit-attachment {
  display: none;
}

#wpua-undo-existing, #wpua-remove-existing{
  display: none !important;
}

#login-form-popup.lightbox-content {
  padding: 20px;
}

#product-sidebar {
   margin-top: 30px;
}

/*.widget-title.shop-sidebar {
   margin-top: 30px;
}*/

div.emd-container .panel-footer {
   padding-top: 20px;
}

.shop-page-title.category-page-title.page-title {
  display: none;
}

.article-inner footer.entry-meta {
  display: none;
}

.article-inner .entry-author.author-box {
  display: none;
}

.entry-meta .byline {
  display: none; 
}

.from_the_blog_comments {
  display: none;  
}

.comment-list .comment-inner .comment-author {
  display: none;    
}

.comment-list .comment-inner .flex-col.flex-grow {
  margin-left: 15px;
}

.comment-content p {
  margin-bottom: 0.5em;
}

table.variations.product-unit-attribute {
  width: 65%;
}

table.variations.size-attribute {
  margin-bottom: 0;
}

.product-info p.stock {
    font-size: 1.1em;
    color: #ea0e7c;
    text-transform: uppercase;
}

.box-image .out-of-stock-label {
    color: #ea0e7c;
}

.widget ul {
    font-size: 0.9em;
}

.video-title.widget {
  font-size: 0.9em; 
}

table.variations tr:last-child .alg-wc-civs-attribute {
    margin-bottom: 0;
}

.name.product-title {
  font-weight: bold;
  /*text-transform: uppercase;*/
}


/**
* Xoa khi update woocommerce len version moi
*/
/*.woocommerce-info { clear:both; }*/

.page-checkout .woocommerce-form-login.login {
    display: inline-block !important;
}
.woocommerce .woocommerce-info {
    display: none !important;
}

/********************************************/


.wpsp-read-more {
  /*background-color: #2D4996;*/
  border-color: #2D4996;
}

a.wp-show-posts-read-more, a.wp-show-posts-read-more:visited {
    border: 2px solid #2D4996;
    color:  #2D4996;
    font-size: 1em;
    font-weight: bolder;
}


a.wp-show-posts-read-more:hover, a.wp-show-posts-read-more:focus {
    border: 2px solid transparent;
    color: #fff;
    background: #2D4996;
}
