td.wishlist-empty{
  text-align: center!important;
  padding: 50px;
  font-size: 2em;
}

.wishlist_table .add_to_cart{
   line-height: 1.3;
   padding: 7px 10px;
}

/* Popup message */
#yith-wcwl-popup-message{
  background: #fff;
  border: 1px solid #dddddd;
  padding: 15px 0;
  font-size: 120%;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(50%);
  width: 300px;
  z-index: 10000; /* Thanks WP -.- */
}

.wishlist-icon{
  position: relative;
}
.wishlist-popup {
  opacity: 0;
  max-height: 0;
  position: absolute;
  overflow: hidden;
  padding: 5px;
  margin-top: -10px;
  border-radius: 5px;
  line-height: 1.3;
  text-align: center;
  font-size: .9em;
  top:100%;
  background-color: rgba(0,0,0,.8);
  right:0;
  color:#FFF;
  transition: opacity .3s, max-height .3s;
  transition-delay: .3s;
}

.wishlist-popup:after {
  bottom: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: rgba(0,0,0,.8);
  border-width: 10px;
  margin-left: -10px;
}

.wishlist-icon:hover .wishlist-popup{
  opacity: 1;
  max-height: 200px;
  overflow-y: auto;
}

.wishlist-popup a{
  color:#ccc;
  display: block;
}

.wishlist-popup a:hover{
 color:#FFF;
}

.wishlist-icon.added:after{
  background-color:red;
  transform: translateY(-3px);
}

.wishlist-popup .ajax-loading,
.wishlist-popup .feedback{
  display: none!important;
}
